@font-face {
    font-family:'Montserrat';
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf');
}

@font-face {
    font-family:'Montserrat Bold';
    src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
}

@font-face {
    font-family:'Montserrat Medium';
    src: url('../fonts/Montserrat/static/Montserrat-Medium.ttf');
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    background-color: rgb(48, 48, 48);
}

main {
    position: relative;
}

.overlay {
    
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    background-color: rgba(17, 17, 17, 0.816);
    transform: scale(0);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.overlay .pDesc {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: visible;
    hyphens: none;
    text-align: center;
    margin: 4rem 0;
    font-size: 1.5rem;
    height: 55vh;
}

.overlay .voteAverage {
    height: 20vh;
}

.overlay h2 {
    font-family: 'Montserrat Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    height: 20vh;
    color: #FECC00;
}

.overlayIn {
    transition: all 0.5s ease;
    transform: scale(100%);
}

.overlayOut {
    transition: all 0.5s ease;
    transform: scale(0%);
}

#container {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-family: 'Montserrat Bold';
    width: 100%;
    text-align: center;
    color: #FECC00;
    font-size: 2.5rem;
    padding: 2rem;
}

.filmDesc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 500px;
    background-color: rgb(215, 215, 215);
    margin: 1rem 0;
    border-radius: 10px;
}

.filmDesc h2 {
    font-family: 'Montserrat Medium';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 90%;
    margin-left: 5%;
    font-size: 2rem;
    color: #FECC00;
}

.filmDesc img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.right {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    background-color: rgba(10, 0, 149, 0.847);
    opacity: 0;
    border-radius: 10px;
}

.right:hover {
    transition: all 0.3s ease;
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.87);
}

.pDesc {
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
    width: 70%;
    height: 18%;
    margin-left: 15%;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 5);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.voteAverage {
    height: 15%;
    text-align: center;
}

svg {
    color: gold;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .overlay {
        display: none;
    }

    .filmDesc {
        width: 75%;
        height: 60vh;
    }

    .pDesc {
        width: 80%;
        height: 22%;
        margin: 0;
        margin-left: 10%;
    }

    .right h2 {
        font-size: 1.5rem;
    }
}